<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanxin.mapper.UserMapper">
    <select id="doGetPasswordByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select password from users where username=#{username}
    </select>
    <select id="doGetRoleByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select role_name from user_roles where username=#{username}
    </select>
    <select id="doGetPermissionsByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select permission from user_roles ur,roles_permissions rp
        where ur.role_name=rp.role_name and username=#{username}
    </select>
</mapper>